html,
body,
#container {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tools {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
}
.openModal {
    width: 300px;
    font-size: 14px;
}